@use "../theme" as *;

// bootstrap functions
@use "bootstrap/scss/functions" as *;

/*
 * Form Label
 */
label.form-label {
    margin-bottom: .25rem;
}

/*
 * Form Error message
 */
form .error_el {
    color: $error-500;
    font-size: .75rem;
    animation: showError 0.2s ease-in-out forwards;
    opacity: 0;
    transform: translateX(-20px);

    @keyframes showError {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

/*
 * Checkbox input
 */
input.form-check-input {
    --bs-border-color: #{$secondary-500};
    --bs-border-width: 2px;

    &:focus {
        border-color: $secondary-500;
        box-shadow: 0 0 0 0.25rem rgba($secondary-500, 0.25);
    }
    &:checked {
        background-color: $secondary-500;
        border-color: $secondary-500;
    }
}
