@use "../theme" as *;
@use "../mixins" as *;

html {
   overflow-x: clip;

    // --- Body Scroll Lock when Modals are Open ---
    &:has(body.modal-open) {
        overflow: hidden;
    }
}

body {
   background-color: var(--bs-body-bg);
   color: var(--bs-body-text);

   overflow-x: hidden;
   margin: 0;

   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: space-between;

   font-family: "inter-variable", sans-serif;
}

h1, h2, h3 { font-family: 'Georgia Pro Semibold Italic', serif; }

h1, h2, h3, h4, h5, h6 { line-height: 1.3; }

// Project wide css variables
:root {
   @include responsive-gutter;
}

// Project specific class Variables
.d-center {
   display: flex; align-items: center; justify-content: center;
}
