@use "../mixins" as *;

// button reset
button {
    transition: var(--bs-transition);
    background: none;
    border: none;
}

// anchor tag reset
a {
    text-decoration: none;
}

// container padding
.container-xxl, .container-fluid {
    @include responsive-gutter;
}
